<!-- nav -->

<nav class="navbar navbar-dark bg-dark" *ngIf="currentUser">
        <span class="navbar-brand mb-0 h1">புல்லன்விடுதி</span>
        <form class="form-inline">
            <ngx-avatar [name]="currentUser.username"  [value]="currentUser.username"  [round]="true" (clickOnAvatar)="clickOnAvatar($event)"></ngx-avatar>
            <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
        </form>
</nav>

<!-- main app container -->

<alert></alert>
<router-outlet></router-outlet>
            
